<script setup>

</script>

<template>
  <main class='fake-sites'>
    <div class="content-container">
      <h1>Fake sites</h1>
      <p>
        Sometimes I like to copy other websites to learn how they work and how to make the same features.
        I'll add some here later :)
        </p>
    </div>
  </main>
</template>

<style lang='scss' scoped>
  .fake-sites {
    display: grid;
    place-items: center;
    align-content: start;
    width: 100%;
    padding-top: 2rem;
  }

  .content-container {
    padding: 0 1rem;
    width: 100%;
    max-width: var(--content-max-width);
  }
</style>