<script setup>
import CssCrazinessImage from './CssCrazinessImage.vue'
import BatmanLogo from '../Pictures/BatmanLogo.vue'
import MazdaLogo from '../Pictures/MazdaLogo.vue'
import SuperMario from '../Pictures/SuperMario.vue'
</script>

<template>
  <main class="css-craziness">
    <div class="content-container">
      <h1 class="page-title">CSS craziness</h1>
      <p class="page-subtitle">
        Here you can find a collection of some images made purely in CSS. Get
        ready for some CSS craziness!
      </p>
      <div class="images">
        <CssCrazinessImage
          title="Batman"
          description="This is the classic Batman logo. He's my favorite superhero, and I watch through Nolan's film trilogy at least once a year!"
          width="350px"
          heightRatio="0.5"
        >
          <component :is="BatmanLogo" />
        </CssCrazinessImage>
        <CssCrazinessImage
          title="Mazda"
          description="This is the Mazda logo. I have a Mazda 3, and I love that car :D"
          width="350px"
          heightRatio="0.85"
          baseWidth="400"
        >
          <component :is="MazdaLogo" />
        </CssCrazinessImage>
        <CssCrazinessImage
          title="Super Mario"
          description="Since I'm a gamer I guess it fits to have the gaming world's biggest star here too."
          heightRatio="1.3"
          width="250px"
        >
          <component :is="SuperMario" />
        </CssCrazinessImage>
      </div>
    </div>
  </main>
</template>

<style lang="scss" scoped>
.css-craziness {
  display: grid;
  place-items: center;
  align-content: start;
  width: 100%;
  padding: 1rem 0;
}

.content-container {
  padding: 0 1rem;
  width: 100%;
  max-width: var(--content-max-width);
}

.page-title {
  text-transform: uppercase;
}

.images {
  display: grid;
  place-items: center;
  padding-top: 4rem;
  gap: 3rem 0rem;
  width: 100%;
}
</style>
