<script setup>
import { onMounted, onUnmounted, ref } from '@vue/runtime-core'

  const props = defineProps({
    title: String,
    description: String,
    width: String,
    heightRatio: String,
    baseWidth: String
  })

  const fontSizeDivider = props.baseWidth == null ? null : props.baseWidth / 16
  const height = ref(0)
  const fontSize = ref(null)
  const image = ref(null)

  function setSize() {
    height.value = (image.value.offsetWidth * props.heightRatio) + 'px'
    if (fontSizeDivider != null)
      fontSize.value = (image.value.offsetWidth / fontSizeDivider) + 'px'
  }

  function onResizeEvent() {
    window.addEventListener('resize', setSize)
  }

  onMounted(() => {
    setTimeout(() => {
      setSize()
      onResizeEvent()
    }, 0)
  })

  onUnmounted(() => {
    window.removeEventListener('resize', setSize)
  })
</script>

<template>
  <section class='css-craziness-image'>
    <div class='image' ref='image' :style='{ maxWidth: width, height: height, fontSize: fontSize }'>
      <slot></slot>
    </div>
    <h2 class='title'>{{ title }}</h2>
    <p class='description'>{{ description }}</p>
  </section>
</template>

<style lang='scss' scoped>
  .css-craziness-image {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    max-width: 700px;
  }

  .image {
    width: 100%;
    height: 100%;
  }

  .title {
    margin-top: 4rem;
    text-align: center;
    text-transform: uppercase;
  }

  .description {
    text-align: center;
  }
</style>