<script setup>
import { onMounted } from '@vue/runtime-core'
import Phaser from 'phaser'
import Scene1 from './Scene1'

const width = 600
const height = 400

function initGame() {
  const scene1 = new Scene1(width, height)

  const config = {
    type: Phaser.AUTO,
    width: width,
    height: height,
    physics: {
      default: 'arcade',
      arcade: {
        gravity: { y: 200 },
      },
    },
    scene: scene1,
    parent: 'chaseGame',
  }

  const game = new Phaser.Game(config)
}

onMounted(() => {
  initGame()
})
</script>

<template>
  <main>
    <h1>Games</h1>
    <div id="chaseGame"></div>
  </main>
</template>

<style lang="scss" scoped>
main {
  display: grid;
  place-items: center;
}
</style>
