<script setup>
import { onMounted } from '@vue/runtime-core'
import Game from '../../games/spaceInvaders/game'

function init() {
  const spaceInvaders = new Game()
  spaceInvaders.start()
}

onMounted(() => {
  init()
})
</script>

<template>
  <main class="space-invaders">
    <h1>Space Invaders</h1>
    <div id="game"></div>
  </main>
</template>

<style lang="scss" scoped>
.space-invaders {
  display: grid;
  place-items: center;
  place-content: center;
  width: 100%;
  padding: 1rem 0rem;
}
</style>
