<script setup>

</script>

<template>
  <main class='about'>
    <div class='content-container'>
      <h1>About</h1>
      <p>This is a website I use as kind of a portfolio, and to just put random stuff on.</p>
      <p>I use the nickname Canjono, but my real name is Michael Hedlund, and I work as a software developer.</p>
      <p>
        This website is built using Vue.js, Vite and Firebase. You can find the source code
        <a class='source-code-link' href='https://gitlab.com/canjono/canjono-vue' target='_blank'>
          here
        </a>
      .
      </p>
    </div>
  </main>
</template>

<style lang='scss' scoped>
  .about {
    display: grid;
    place-items: center;
    align-content: start;
    width: 100%;
    padding-top: 2rem;
  }

  .content-container {
    padding: 0 1rem;
    width: 100%;
    max-width: var(--content-max-width);
  }

  .source-code-link {
    display: inline-block;
    color: var(--accent-color);
    text-transform: uppercase;
    transition: transform .1s ease-in;
    transform: scale3d(1, 1, 1);

    &:hover {
      transform: scale3d(1.1, 1.1, 1);
    }
  }
</style>