<script setup></script>

<template>
  <main class="games">
    <div class="container">
      <h1>GAMES</h1>
      <p class="page-subtitle">
        Here are links to games I've created. Or well... they're copies of
        existing games... But I made them myself using JavaScript and Phaser 3!
      </p>
      <ul>
        <li>
          <router-link to="/games/snake">Snake</router-link>
        </li>
        <li>
          <router-link to="/games/space-invaders"
            >Space Invaders (under construction)</router-link
          >
        </li>
      </ul>
    </div>
  </main>
</template>

<style lang="scss">
.games {
  display: grid;
  place-items: center;
  align-content: start;
  width: 100%;
  padding-top: 2rem;
}

.container {
  padding: 0 1rem;
  width: 100%;
  max-width: var(--content-max-width);
}

ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin-top: 3rem;
}

li {
  border-bottom: 1px solid #000;

  a {
    display: block;
    padding: 1rem 1rem;
    font-size: 1.1rem;
  }

  &:hover {
    background: #ddd;
  }
}
</style>
