<script setup>

</script>

<template>
  <section class='home-part-4'>
    <div class="content-container">
      <div class='text'>
        <h3>Now I mostly do computer stuff all day long</h3>
        <h4>...and sometimes I watch TV series, play video games and drink beer ;)</h4>
      </div>
    </div>
  </section>
</template>


<style lang='scss' scoped>

  .home-part-4 {
    display: grid;
    justify-items: center;
    align-content: center;
    grid-template-rows: 100%;
    background: var(--secondary-background-color);
  }

  .content-container {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: repeat(5, 1fr);
    height: 100%;
    width: 100%;
    max-width: var(--content-max-width);
    background: url(/computer-background.jpg) no-repeat;
    background-size: contain;
    background-position: bottom;
  }

  .text {
    display: grid;
    grid-row: 2 / 4;
    row-gap: 1rem;

    * {
      padding: 1rem;
      text-transform: uppercase;
      color: var(--secondary-color);
      text-align: center;
    }
  }

  @media screen and (min-width: 1080px) {
    .home-part-4 {
      background: url(/computer-background.jpg) no-repeat;
      background-position: 50% 70%;
      background-size: cover;
      background-origin: center;
    }

    .content-container {
      background: none;
    }
  }

</style>