<script setup>
  import HomePart1 from './HomePart1.vue'
  import HomePart2 from './HomePart2.vue'
  import HomePart3 from './HomePart3.vue'
  import HomePart4 from './HomePart4.vue'
</script>

<template>
  <main class='home'>
    <HomePart1 />
    <HomePart2 />
    <HomePart3 />
    <HomePart4 />
  </main>
</template>

<style lang='scss' scoped>
  .home {
    display: grid;
    grid-auto-rows: minmax(30rem, calc(100vh - var(--header-height)));
  }
</style>