<script setup>
   
</script>

<template>
  <section class='home-part-2'>
    <div class='content-container'>
      <h3>
        I am a full-stack developer who used to live in Norrland. The cold northern part of Sweden
      </h3>
      <h3>
        It was way too cold for me, so one day I moved down to the not-as-cold southern part of Sweden
      </h3>
    </div>
  </section>  
</template>


<style lang='scss' scoped>
  .home-part-2 {
    display: grid;
    place-items: center;
    background: url(/night-background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
  }

  .content-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    row-gap: 4rem;
    height: 100%;
    max-width: var(--content-max-width);
    padding: 0 1rem;
  }

  h3 {
    padding: 1rem;
    text-transform: uppercase;
    color: var(--secondary-color);
    text-align: center;
  }
</style>