<script setup>

</script>

<template>
  <section class='home-part-1'>
    <div class='messages'>
      <img src='/cool-hacker.png' />
      <h3 class='message-1'>Welcome</h3>
      <h2 class='message-2'>I am Canjono</h2>
    </div>
    <span class="material-icons arrow-down">expand_more</span>
  </section>
</template>


<style lang='scss' scoped>

  .home-part-1 {
    display: grid;
    place-items: center;
    justify-content: center;
    align-content: space-between;
    grid-template-rows: repeat(3, 1fr);
    padding: 2rem 0;
    min-height: 10rem;
  }

  .messages {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    grid-row-start: 2;

    > * {
      opacity: 0;
      animation: make-visible 3s forwards;
      text-transform: uppercase;
    }
  }

  img {
    height: 10rem;
    object-fit: cover;
    animation-delay: .5s;
  }

  .message-1 {
    animation-delay: 1s;
  }

  .message-2 {
    animation-delay: 2s;
  }

  .arrow-down {
    grid-row-start: 3;
    font-size: 40px;
    opacity: 0;
    animation: move-down 4s infinite;
    animation-delay: 4.5s;
    align-self: center;
  }

  @keyframes make-visible {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes move-down {
    0% { transform: translateY(0); opacity: 0; }
    25% { transform: translateY(0); opacity: 1; }
    50% { transform: translateY(.5rem); opacity: 1; }
    75% { transform: translateY(1rem); opacity: 0; }
    100% { transform: translateY(1rem); opacity: 0; }
  }
</style>