<script setup>

</script>

<template>
  <section class='home-part-3'>
    <div class="content-container">
      <h3>When I arrived I worked as a music teacher for a few years</h3>
      <h3>But I realized that my true passion was software development, so I moved on to a new career</h3>
    </div>
  </section>
</template>


<style lang='scss' scoped>

  .home-part-3 {
    display: grid;
    place-items: center;
    background: url(/music-background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
  }

  .content-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    row-gap: 4rem;
    height: 100%;
    max-width: var(--content-max-width);
    padding: 0 1rem;
  }

  h3 {
    background-color: rgba(255, 255, 255, .8);
    border-radius: 5px;
    box-shadow: 0 0 2rem 1rem #fff;
    padding: 1rem;
    text-transform: uppercase;
    text-align: center;
  }

</style>