<script setup>
import { onMounted } from '@vue/runtime-core'
import Game from '../../games/snake/game'

function init() {
  const game = new Game()
  game.start()
}

onMounted(() => {
  init()
})
</script>

<template>
  <main class="snake">
    <div id="game"></div>
  </main>
</template>

<style lang="scss" scoped>
.snake {
  display: grid;
  place-items: center;
  place-content: center;
  width: 100%;
  padding: 1rem 0rem;
}
</style>
