<script setup>
  const props = defineProps({
    isOpen: Boolean
  })
</script>

<template>
  <div class='burger-menu' :class='{ visible: isOpen }'>
    <div id='burgerMenuBackground' class='background'></div>
    <ul class='nav-items'>
      <li>
        <router-link to='/css-craziness'>CSS craziness</router-link>
      </li>
      <li>
        <router-link to='/fake-sites'>Fake sites</router-link>
      </li>
      <li>
        <router-link to='/games'>Games</router-link>
      </li>
      <li>
        <router-link to='/about'>About</router-link>
      </li>
    </ul>
  </div>
</template>

<style lang='scss' scoped>

  .burger-menu {
    position: fixed;
    top: 0;
    right: 0;
    padding-top: var(--header-height);
    width: 100%;
    min-height: 100vh;
    z-index: 90;
    transition: transform;
    transition-delay: var(--background-slide-duration);
    transform: scale3d(0, 1, 1);

    &.visible {
      transition-delay: 0s;
      transform: scale3d(1, 1, 1);
    }

    --background-slide-duration: .5s;
  }

  .background {
    position: absolute;
    height: 100%;
    width: 100%;
    background: var(--secondary-background-color);
    transition: transform var(--background-slide-duration);
    transform: scale3d(0, 1, 1);
    transform-origin: right;
  }

  .visible .background {
    transform: scale3d(1, 1, 1);
  }

  ul {
    position: relative;
    display: flex;
    flex-direction: column;
    list-style: none;
    transition: opacity 0s;
    opacity: 0;
  }

  .visible ul {
    transition: opacity .5s;
    transition-delay: .3s;
    opacity: 1;
  }

  li {
    position: relative;
    height: 100%;
    flex: 1 0 100%;
    border-bottom: 1px solid var(--secondary-color);
  }


  a {
    display: block;
    padding: 1rem;
    width: 100%;
    height: 100%;
    color: var(--secondary-color);
    text-transform: uppercase;

    &:hover {
      color: var(--greyed-out-color);
    }
  }

  @media screen and (min-width: 600px) {
    .burger-menu {
      width: 30rem;
    }
  }

</style>