<script setup>
  import { ref } from '@vue/reactivity'
  import BurgerMenu from './BurgerMenu.vue'
  import MenuToggleIcon from './MenuToggleIcon.vue'

  const isBurgerMenuOpen = ref(false)
  const logoText = '<Canjono />'

  function toggleBurgerMenu(isOpen) {
    isBurgerMenuOpen.value = isOpen

    if (isOpen) {
      onOpenBurgerMenu()
    } else {
      onCloseBurgerMenu()
    }
  }

  function closeBurgerMenu(e) {
    if (e.target.id === 'burgerMenuBackground') {
      return
    }
    toggleBurgerMenu(false)
  }

  function onOpenBurgerMenu() {
    setTimeout(() => {
      document.addEventListener('click', closeBurgerMenu)
    }, 0)
  }

  function onCloseBurgerMenu() {
    document.removeEventListener('click', closeBurgerMenu)
  }

</script>

<template>
  <header>
    <router-link to='/' class='logo'>{{ logoText }}</router-link>
    <MenuToggleIcon class='menu-toggle-icon' :isOpen='isBurgerMenuOpen' @toggle='toggleBurgerMenu' />
    <BurgerMenu :isOpen='isBurgerMenuOpen' />
  </header>
</template>

<style lang='scss' scoped>

  header {
    position: fixed;
    width: 100%;
    display: grid;
    place-items: center;
    justify-content: space-between;
    align-content: center;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: var(--header-height);
    background: var(--secondary-background-color);
    color: var(--secondary-color);
    padding: 0 1rem;
    z-index: 100;
  }

  .logo {
    font-size: 25px;
    font-weight: 900;
    text-transform: uppercase;
    grid-column: 2 / 3;

    &:hover {
      color: var(--greyed-out-color);
    }
  }

  .menu-toggle-icon {
    grid-column: 3 / -1;
    justify-self: end;
    width: 1.5rem;
    height: 1.5rem;
  }

</style>