<script setup>
  const props = defineProps({
    isOpen: Boolean
  })

  const emits = defineEmits(['toggle'])

  function emitToggle() {
    emits('toggle', !props.isOpen)
  }
</script>

<template>
  <div class='menu-toggle-icon' @click='emitToggle'>
    <div class='open-menu' :class='{ visible: !isOpen }'>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="close-menu" :class='{ visible: isOpen }'>
      <span></span>
      <span></span>
    </div>
  </div>
</template>


<style lang='scss' scoped>

  .menu-toggle-icon {
    position: relative;
    cursor: pointer;
    z-index: 100;

    span {
      background-color: #fff;
    }

    &:hover span {
      background-color: var(--greyed-out-color);
    }

    --animation-duration: .2s;
  }

  .open-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    opacity: 0;

    span {
      height: .1rem;
      width: 100%;

      &:nth-child(1) {
        transform: rotate(45deg);
        transform-origin: left;
      }

      &:nth-child(3) {
        transform: rotate(-45deg);
        transform-origin: left;
      }
    }

    &.visible {
      span:nth-child(1) {
        transition: transform var(--animation-duration);
        transform: rotate(0deg);
      }

      span:nth-child(3) {
        transition: transform var(--animation-duration);
        transform: rotate(0deg);
      }
    }
  }

  .close-menu {
    position: absolute;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    opacity: 0;

    span {
      position: absolute;
      width: 100%;
      height: .1rem;
    }

    &.visible {
      span:nth-child(1) {
        transition: transform var(--animation-duration) ease-in;
        transform: rotate(45deg);
      }

      span:nth-child(2) {
        transition: transform var(--animation-duration) ease-in;
        transform: rotate(-45deg);
      }
    }
  }

  .visible {
    opacity: 1;
  }
</style>