<script setup>

</script>

<template>
  <footer>
    <a class='gitlab' href='https://gitlab.com/canjono' target='_blank'>Gitlab</a>
    <a class='linkedin' href='https://www.linkedin.com/in/michael-hedlund-b76109150/' target='_blank'>LinkedIn</a>
    <a class='twitter' href='https://codepen.io/canjono' target='_blank'>Codepen</a>
    <a class='vuejs' href='https://vuejs.org/' target='_blank'>VueJS</a>
  </footer>
</template>

<style lang='scss' scoped>

  footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 0 2rem;
    background: var(--secondary-background-color);
    color: var(--secondary-color);
    padding: 3rem 0;
  }

  a {
    text-transform: uppercase;
    transform: scale3d(0.9, 0.9, 1);

    &:hover {
      color: #d4d4d4;
      transition: transform .2s;
      transform: scale3d(1, 1, 1);
    }
  }

</style>