<script setup>
  import Header from './components/Header/Header.vue'
  import Footer from './components/Footer/Footer.vue'
</script>

<template>
  <Header class='header' />
  <router-view></router-view>
  <Footer class='footer' />
</template>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

  :root {
    --primary-background-color: #fff;
    --primary-color: #000;
    --primary-font-family: 'Share Tech Mono', monospace;

    --secondary-background-color: #000;
    --secondary-color: #fff;

    --accent-color: #339332;
    --greyed-out-color: #d2d2d2;

    --header-height: 5rem;
    --content-max-width: 1080px;
  }

  * {
    box-sizing: border-box;
    color: var(--primary-color);
    font-family: var(--primary-font-family);
  }

  html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100%;
  }

  a, a:hover {
    text-decoration: none;
    color: inherit;
  }

  #app {
    display: grid;
    align-content: space-between;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
      "header header header header"
      "main   main   main   main"
      "footer footer footer footer";
    min-height: 100vh;
    width: 100%;
  }

  .header {
    grid-area: header;
  }

  main {
    grid-area: main;
    margin-top: var(--header-height);
  }

  .footer {
    grid-area: footer;
  }

</style>
