<script setup>

</script>

<template>
  <div class='batman-logo'>
    <div class='black-background'>
      <div class='yellow-background'>
        <div class='bat'>
          <div class='head-space'></div>
          <div class='top-side-space left'></div>
          <div class='top-side-space right'></div>
          <div class='bottom-outer-space left'></div>
          <div class='bottom-inner-space left'></div>
          <div class='bottom-inner-space right'></div>
          <div class='bottom-outer-space right'></div>
          
        </div>
      </div>
    </div>
  </div>  
</template>
  

<style lang='scss' scoped>

  * {
    box-sizing: border-box;
  }

  .batman-logo {
    position: relative;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;

    --yellow: #FACB01;
    --black: #000;
  }

  .black-background {
    display: grid;
    place-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--black);
    border-radius: 50%;
  }

  .yellow-background {
    position: absolute;
    display: grid;
    place-items: center;
    width: 98%;
    height: 98%;
    background: var(--yellow);
    border-radius: 50%;
  }

  .bat {
    position: absolute;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    transform: scale3d(.96, .92, 1);
    background: var(--black);
    clip-path: ellipse(50% 50% at 50% 50%);
  }

  .head-space {
    position: absolute;
    background: var(--yellow);
    top: 0;
    width: 10%;
    height: 10%;
    clip-path: polygon(0 0, 100% 0, 70% 100%, 30% 100%);
  }

  .top-side-space {
    position: absolute;
    display: grid;
    place-items: center;
    height: 30%;
    width: 15%;
    top: 0;
    background: var(--black);
    
    --space-from-side: 30%;
    --space-from-ear: 10%;

    &.left {
      left: var(--space-from-side);
      clip-path: polygon(0 0, 100% 0, calc(100% - var(--space-from-ear)) 100%, 0 100%);

      &::before {
        content: '';
        position: absolute;
        width: 110%;
        height: 110%;
        left: 0;
        bottom: 1%;
        background: var(--yellow);
        border-radius: 50%;
      }

      &::after {
        content: '';
        position: absolute;
        height: 50%;
        width: 30%;
        right: 0;
        top: 0;
        background: var(--yellow);
      }
    }

    &.right {
      right: var(--space-from-side);
      clip-path: polygon(0 0, 100% 0, 100% 100%, var(--space-from-ear) 100%);
  
      &::before {
        content: '';
        position: absolute;
        width: 110%;
        height: 110%;
        right: 0;
        bottom: 1%;
        background: var(--yellow);
        border-radius: 50%;
      }

      &::after {
        content: '';
        position: absolute;
        height: 50%;
        width: 30%;
        left: 0;
        top: 0;
        background: var(--yellow);
      }
    }
  }

  .bottom-outer-space {
    position: absolute;
    height: 35%;
    width: 40%;
    border-radius: 50%;
    background: var(--yellow);
    top: 85%;
    
    --space-from-side: 15%;
    --rotate-degrees: 50deg;

    &.left {
      left: var(--space-from-side);
      transform: rotate(var(--rotate-degrees));
    }

    &.right {
      right: var(--space-from-side);
      transform: rotate(calc(0deg - var(--rotate-degrees)));
    }
  }


  .bottom-inner-space {
    position: absolute;
    height: 30%;
    width: 30%;
    border-radius: 50%;
    background: var(--yellow);
    top: 85%;
    
    --space-from-side: 29%;
    --rotate-degrees: 70deg;

    &.left {
      left: var(--space-from-side);
      transform: rotate(var(--rotate-degrees));
    }

    &.right {
      right: var(--space-from-side);
      transform: rotate(calc(0deg - var(--rotate-degrees)));
    } 
  }

</style>