<script setup></script>

<template>
  <div class="mazda-logo">
    <div class="symbol">
      <div class="ring main"></div>
      <div class="ring main-two"></div>
      <div class="ring outer-shadow">
        <div class="left-clip-container">
          <div class="left-clip"></div>
        </div>
      </div>
      <div class="ring inner-shadow">
        <div class="left-clip-container">
          <div class="left-clip"></div>
        </div>
        <div class="right-clip"></div>
      </div>
      <div class="wings">
        <div class="left">
          <div class="inner"></div>
          <div class="outer"></div>
        </div>
        <div class="right">
          <div class="inner"></div>
          <div class="outer"></div>
        </div>
      </div>
    </div>
    <div class="text">
      <div class="m"></div>
      <div class="a"></div>
      <div class="z">
        <div class="z-top"></div>
        <div class="z-bottom"></div>
        <div class="z-middle"></div>
      </div>
      <div class="d"></div>
      <div class="a"></div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
/* Made for size ratio 1/0.85 */

*,
*::after,
*::before {
  box-sizing: border-box;
}

.mazda-logo {
  display: grid;
  place-items: center;
  grid-template-rows: 5fr 1fr;
  row-gap: 1em;
  width: 100%;
  height: 100%;
}

.symbol {
  position: relative;
  display: grid;
  place-items: center;
  width: 80%;
  height: 100%;
}

.ring {
  border-radius: 45%;
}

.ring.main {
  height: 100%;
  width: 100%;
  border-top: 1em solid #fff;
  border-left: 2em solid #fff;
  border-bottom: 1em solid #fff;
  border-right: 2em solid #fff;
  box-shadow: inset 0 0 0 1px #000;
}

.ring.main-two {
  position: absolute;
  height: 100%;
  width: 100%;
  box-shadow: 0 0 0 1px #000;
}

.ring.outer-shadow {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border: 0.5em solid #000;
  border-width: 0.5em 1em;
  clip-path: polygon(0 50%, 71% 50%, 100% 12%, 100% 100%, 0 100%);
}

.ring.outer-shadow .left-clip-container {
  position: absolute;
  bottom: 0.6em;
  left: -1em;
  width: 100%;
  height: 100%;
  border-radius: 45%;
}

.ring.outer-shadow .left-clip {
  position: absolute;
  width: 10em;
  height: 10em;
  background: #fff;
  bottom: 3.3em;
  left: -1em;
  clip-path: ellipse(45% 50% at 50% 50%);
}

.ring.inner-shadow {
  position: absolute;
  height: 100%;
  width: 100%;
  transform: scale3d(0.88, 0.93, 1);
  top: 0;
  left: 0;
  border-style: solid;
  border-color: #000;
  border-width: 0.5em 1em;
  clip-path: polygon(0 0, 100% 0, 100% 77%, 0 77%);
}

.ring.inner-shadow .left-clip-container {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scale3d(1.15, 1.2, 1);
  background: transparent;
  border-radius: 50%;
  overflow: hidden;
}

.ring.inner-shadow .left-clip {
  position: absolute;
  height: 30%;
  width: 30%;
  bottom: 0%;
  left: -11.2%;
  background: #fff;
  clip-path: ellipse(40% 50% at 50% 50%);
}

.right-clip {
  position: absolute;
  height: 80%;
  width: 60%;
  right: -14%;
  bottom: 14%;
  border: 0.7em solid #fff;
  border-radius: 50%;
  clip-path: polygon(60% 50%, 95% 50%, 80% 88%, 66% 98%);
}

.wings {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 85%;
  height: 55%;
  top: 20%;

  --inner-side-offset: -17%;
  --inner-top-offset: 20%;
  --inner-border-width: 2.2em;
  --rotation: 15deg;
  --inner-height: 150%;
  --inner-width: 175%;
  --mystical-adjust-size: 25%;
  --side-border-height: 2.1em;
  --side-border-top-offset: 1.6em;
  --side-border-side-offset: 0.32em;
  --side-border-rotation: 22deg;

  .left {
    position: relative;
    right: 0;
    overflow: hidden;

    &::after {
      content: '';
      position: absolute;
      top: var(--side-border-top-offset);
      left: var(--side-border-side-offset);
      height: var(--side-border-height);
      border-left: 0.3em solid #fff;
      transform: rotate(calc(-1 * var(--side-border-rotation)));
    }

    .inner {
      position: absolute;
      width: var(--inner-width);
      height: var(--inner-height);
      right: var(--inner-side-offset);
      top: var(--inner-top-offset);
      border-style: solid;
      border-color: #000;
      border-radius: 0 50% 0 0;
      border-width: var(--inner-border-width) 1em 0 0;
      transform: rotate(var(--rotation));
    }

    .inner::after {
      content: '';
      top: -9%;
      position: absolute;
      width: 100%;
      height: 110%;
      left: 5%;
      border-style: solid;
      border-color: #fff;
      border-width: 0.3em 0.3em 0 0;
      border-radius: 0 50% 0 0;
    }

    .outer {
      position: absolute;
      width: var(--inner-width);
      height: var(--inner-height);
      right: calc(var(--inner-side-offset) - 2em);
      bottom: calc(
        100% - var(--inner-top-offset) - var(--mystical-adjust-size)
      );
      border-style: solid;
      border-color: #000;
      border-radius: 0 0 0 50%;
      border-width: 0 0 var(--inner-border-width) 0;
      transform: rotate(var(--rotation));
      clip-path: inset(0 50% 0 0);
    }

    .outer::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 12%;
      border-style: solid;
      border-color: #fff;
      border-width: 0 0 0.3em 0;
      border-radius: 0 0 0 50%;
    }
  }

  .right {
    position: relative;
    overflow: hidden;

    &::after {
      content: '';
      position: absolute;
      top: var(--side-border-top-offset);
      right: var(--side-border-side-offset);
      height: var(--side-border-height);
      border-right: 0.3em solid #fff;
      transform: rotate(var(--side-border-rotation));
    }

    .inner {
      position: absolute;
      width: var(--inner-width);
      height: var(--inner-height);
      left: var(--inner-side-offset);
      top: var(--inner-top-offset);
      border-style: solid;
      border-color: #000;
      border-radius: 50% 0 0 0;
      border-width: var(--inner-border-width) 0 0 1em;
      transform: rotate(calc(-1 * var(--rotation)));
    }

    .inner::after {
      content: '';
      top: -9%;
      position: absolute;
      width: 100%;
      height: 110%;
      right: 5%;
      border-style: solid;
      border-color: #fff;
      border-width: 0.3em 0 0 0.3em;
      border-radius: 50% 0 0 0;
    }

    .outer {
      position: absolute;
      width: var(--inner-width);
      height: var(--inner-height);
      left: calc(var(--inner-side-offset) - 2em);
      bottom: calc(
        100% - var(--inner-top-offset) - var(--mystical-adjust-size)
      );
      border-style: solid;
      border-color: #000;
      border-radius: 0 0 50% 0;
      border-width: 0 0 var(--inner-border-width) 0;
      transform: rotate(calc(-1 * var(--rotation)));
      clip-path: inset(0 0 0 50%);
    }

    .outer::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 12%;
      border-style: solid;
      border-color: #fff;
      border-width: 0 0 0.3em 0;
      border-radius: 0 0 50% 0;
    }
  }
}

.text {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 100%;
  height: 100%;

  --stroke-width: 1em;
  --border-radius: 1em;
}

.m {
  position: relative;
  border-right: var(--stroke-width) solid #000;
  border-top: var(--stroke-width) solid #000;
  border-radius: 0 var(--border-radius) 0 0;
  height: 100%;
  width: 100%;
  flex: 0 0 20%;
}

.m::before {
  content: '';
  position: absolute;
  background: #000;
  height: 100%;
  width: var(--stroke-width);
}

.m::after {
  content: '';
  position: absolute;
  background: #000;
  height: 100%;
  width: var(--stroke-width);
  left: 50%;
}

.a {
  position: relative;
  border-right: var(--stroke-width) solid #000;
  border-top: var(--stroke-width) solid #000;
  border-radius: 0 var(--border-radius) 0 0;
  height: 100%;
  flex: 0 0 13%;
  margin-left: 0.6%;
}

.a::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: calc(-1 * var(--stroke-width) + 0.1em);
  border-radius: var(--border-radius) 0 0 var(--border-radius);
  border: calc(var(--stroke-width) - 0.15em) solid #000;
  height: 90%;
  width: 150%;
}

.z {
  position: relative;
  display: grid;
  place-items: center;
  flex: 0 0 16%;
  height: 100%;
  overflow: hidden;
}

.z-middle {
  position: absolute;
  background: #000;
  width: var(--stroke-width);
  height: 160%;
  transform: rotate(45deg);
}

.z-top {
  position: absolute;
  border-top: var(--stroke-width) solid #000;
  border-right: var(--stroke-width) solid transparent;
  width: 60%;
  height: var(--stroke-width);
  top: 0;
  left: 0.2em;
}

.z-bottom {
  position: absolute;
  border-bottom: var(--stroke-width) solid #000;
  border-left: var(--stroke-width) solid transparent;
  width: 60%;
  height: var(--stroke-width);
  bottom: 0;
  right: 0.2em;
}

.d {
  flex: 0 0 15%;
  height: 100%;
  border: var(--stroke-width) solid #000;
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}
</style>
