<script setup>
  const props = defineProps({
    height: String,
    width: String
  })

</script>

<template>
  <div class='snowman' :style='{ height: height, width: width }'>
    <div class='hat'></div>
    <div class='snow head'>
      <div class='mouth'></div>
    </div>
    <div class='snow upper-body'></div>
    <div class='snow lower-body'></div>
  </div>
</template>

<style lang='scss' scoped>
  .snowman {
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .snowman div {
    position: absolute;
  }

  .snow {
    background-color: #fff;
    box-shadow: inset 0px 0px 10px #000;
  }

  .hat {
    background: #000;
    width: 20%;
    height: 19%;
    top: 0;
    z-index: 100;
  }

  .hat::after {
    position: absolute;
    left: -25%;
    bottom: 0;
    content: '';
    height: 2px;
    width: 150%;
    background: #000;
  }

  .head {
    height: 25%;
    width: 30%;
    top: 15%;
    border-radius: 100%;
    border: 1px solid #000;
    z-index: 75;
  }

  .head::before {
    content: '';
    position: absolute;
    background: #000;
    border-radius: 100%;
    width: 10%;
    height: 10%;
    top: 30%;
    left: 30%;
  }

  .head::after {
    content: '';
    position: absolute;
    background: #000;
    border-radius: 100%;
    width: 10%;
    height: 10%;
    top: 30%;
    right: 30%;
  }

  .head .mouth {
    position: absolute;
    width: 50%;
    height: 40%;
    top: 35%;
    left: 25%;
    border-radius: 50%;
    border-bottom: 2px solid #000;
    clip-path: polygon(50% 0%, 100% 100%, 100% 100%, 0% 100%);
  }

  .upper-body {
    height: 30%;
    width: 35%;
    border-radius: 100%;
    border: 1px solid #000;
    z-index: 50;
  }

  .upper-body::before {
    content: '';
    position: absolute;
    width: 60%;
    height: 5%;
    top: 30%;
    left: -45%;
    background: #000;
    transform: rotate(10deg);
  }

  .upper-body::after {
    content: '';
    position: absolute;
    width: 60%;
    height: 5%;
    top: 30%;
    right: -45%;
    background: #000;
    transform: rotate(-10deg);
  }

  .lower-body {
    height: 45%;
    width: 50%;
    bottom: 0;
    border-radius: 100%;
    border: 1px solid #000;
  }
</style>