<script setup>

</script>

<template>
  <div class='super-mario'>
    <div class='hat'></div>
    <div class='head'>
      <div class='row-1-1'></div>
      <div class='row-1-2'></div>
      <div class='row-2-1'></div>
      <div class='row-2-2'></div>
      <div class='row-2-3'></div>
      <div class='row-3-1'></div>
      <div class='row-3-2'></div>
      <div class='row-3-3'></div>
      <div class='row-4-1'></div>
      <div class='row-4-2'></div>
      <div class='row-5-1'></div>
    </div>
    <div class='body'>
      <div class='row-1'></div>
      <div class='row-2'></div>
      <div class='row-3'></div>
      <div class='row-4'></div>
      <div class='row-5'></div>
      <div class='row-6'></div>
      <div class='row-7'></div>
    </div>
    <div class='feet'>
      <div class='left'></div>
      <div class='right'></div>
    </div>
  </div>
</template>

<style lang='scss' scoped>
  .super-mario {
    display: grid;
    grid-template-rows: 2fr 5fr 7fr 2fr;
    width: 100%;
    height: 100%;
    
    --red: #F34135;
    --green: #7F8000;
    --skin: #FF9700;
  }

  .hat {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  .hat::before {
    content: '';
    background: var(--red);
    grid-column: 4 / span 5;
  }

  .hat::after {
    content: '';
    background: var(--red);
    grid-column: 3 / span 9;
  }

  .head {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  .head .row-1-1 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column: 3 / span 5;
  }

  .head .row-1-1::before {
    content: '';
    grid-column: 1 / span 3;
    background: var(--green);
  }

  .head .row-1-1::after {
    content: '';
    grid-column: 4 / -1;
    background: var(--skin);
  }

  .head .row-1-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: 8 / span 2;
    grid-row: 1;
  }

  .head .row-1-2::before {
    content: '';
    grid-column: 1;
    background: var(--green);
  }

  .head .row-1-2::after {
    content: '';
    grid-column: 2;
    background: var(--skin);
  }

  .head .row-2-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: 2 / span 2;
  }

  .head .row-2-1::before {
    content: '';
    grid-column: 1;
    background: var(--green);
  }

  .head .row-2-1::after {
    content: '';
    grid-column: 2;
    background: var(--skin);
  }

  .head .row-2-2 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column: 4 / span 4;
  }

  .head .row-2-2::before {
    content: '';
    grid-column: 1;
    background: var(--green);
  }

  .head .row-2-2::after {
    content: '';
    grid-column: 2 / -1;
    background: var(--skin);
  }

  .head .row-2-3 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column: 8 / span 4;
    grid-row: 2;
  }

  .head .row-2-3::before {
    content: '';
    grid-column: 1;
    background: var(--green);
  }

  .head .row-2-3::after {
    content: '';
    grid-column: 2 / -1;
    background: var(--skin);
  }

  .head .row-3-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: 2 / span 2;
  }

  .head .row-3-1::before {
    content: '';
    grid-column: 1;
    background: var(--green);
  }

  .head .row-3-1::after {
    content: '';
    grid-column: 2;
    background: var(--skin);
  }

  .head .row-3-2 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-row: 3;
    grid-column: 4 / span 5;
  }

  .head .row-3-2::before {
    content: '';
    grid-column: 1 / span 2;
    background: var(--green);
  }

  .head .row-3-2::after {
    content: '';
    grid-column: 3 / -1;
    background: var(--skin);
  }

  .head .row-3-3 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column: 9 / span 4;
    grid-row: 3;
  }

  .head .row-3-3::before {
    content: '';
    grid-column: 1;
    background: var(--green);
  }

  .head .row-3-3::after {
    content: '';
    grid-column: 2 / -1;
    background: var(--skin);
  }

  .head .row-4-1 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column: 2 / span 6;
  }

  .head .row-4-1::before {
    content: '';
    grid-column: 1 / span 2;
    background: var(--green);
  }

  .head .row-4-1::after {
    content: '';
    grid-column: 3 / -1;
    background: var(--skin);
  }

  .head .row-4-2 {
    grid-column: 8 / span 4;
    background: var(--green);
  }

  .head .row-5-1 {
    grid-column: 4 / span 7;
    background: var(--skin);
  }

  .body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(7, 1fr);
  }

  .body .row-1 {
    grid-column: 3 / span 6;
    grid-row: 1;
    background: linear-gradient(to right,
      var(--green) calc(100% / 3),
      var(--red) calc(100% / 3) calc(100% / 6 * 3),
      var(--green) calc(100% / 6 * 3) 100%);
  }

  .body .row-2 {
    grid-column: 2 / span 10;
    grid-row: 2;
    background: linear-gradient(to right,
      var(--green) 30%, var(--red) 30% 40%,
      var(--green) 40% 60%, var(--red) 60% 70%,
      var(--green) 70% 100%);
  }

  .body .row-3 {
    grid-column: 1 / -1;
    grid-row: 3;
    background: linear-gradient(to right,
      var(--green) calc(100% / 12 * 4),
      var(--red) calc(100% / 12 * 4) calc(100% / 12 * 8),
      var(--green) calc(100% / 12 * 8) 100%);
  }

  .body .row-4 {
    grid-column: 1 / -1;
    grid-row: 4;
    background: linear-gradient(to right,
      var(--skin) calc(100% / 12 * 2),
      var(--green) calc(100% / 12 * 2) calc(100% / 12 * 3),
      var(--red) calc(100% / 12 * 3) calc(100% / 12 * 4),
      var(--skin) calc(100% / 12 * 4) calc(100% / 12 * 5),
      var(--red) calc(100% / 12 * 5) calc(100% / 12 * 7),
      var(--skin) calc(100% / 12 * 7) calc(100% / 12 * 8),
      var(--red) calc(100% / 12 * 8) calc(100% / 12 * 9),
      var(--green) calc(100% / 12 * 9) calc(100% / 12 * 10),
      var(--skin) calc(100% / 12 * 10) 100%);
  }

  .body .row-5 {
    grid-column: 1 / -1;
    grid-row: 5;
    background: linear-gradient(to right,
      var(--skin) calc(100% / 12 * 3),
      var(--red) calc(100% / 12 * 3) calc(100% / 12 * 9),
      var(--skin) calc(100% / 12 * 9) 100%);
  }

  .body .row-6 {
    grid-column: 1 / -1;
    grid-row: 6;
    background: linear-gradient(to right,
      var(--skin) calc(100% / 12 * 2),
      var(--red) calc(100% / 12 * 2) calc(100% / 12 * 10),
      var(--skin) calc(100% / 12 * 10) 100%);
  }

  .body .row-7 {
    display: grid;
    grid-template-columns: 3fr 2fr 3fr;
    grid-column: 3 / span 8;
  }

  .body .row-7::before {
    content: '';
    grid-column: 1;
    background: var(--red);
  }

  .body .row-7::after {
    content: '';
    grid-column: 3;
    background: var(--red);
  }


  .feet {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .feet .left {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column: 1;
  }

  .feet .left::before {
    content: '';
    grid-column: 2 / -1;
    background: var(--green);
  }

  .feet .left::after {
    content: '';
    grid-column: 1 / -1;
    background: var(--green);
  }

  .feet .right {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column: 3;
  }

  .feet .right::before {
    content: '';
    grid-column: 1 / span 3;
    background: var(--green);
  }

  .feet .right::after {
    content: '';
    grid-column: 1 / -1;
    background: var(--green);
  }

</style>